[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Linux Test Project
[access "refs/*"]
	owner = group user/Maciej Bielski (semihalf-bielski-maciej)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Maciej Bielski (semihalf-bielski-maciej)
	label-Verified = -1..+1 group user/Maciej Bielski (semihalf-bielski-maciej)
	push = group user/Maciej Bielski (semihalf-bielski-maciej)
	read = group user/Maciej Bielski (semihalf-bielski-maciej)
	rebase = group user/Maciej Bielski (semihalf-bielski-maciej)
	removeReviewer = group user/Maciej Bielski (semihalf-bielski-maciej)
	submit = group user/Maciej Bielski (semihalf-bielski-maciej)
[access "refs/heads/*"]
	create = group user/Maciej Bielski (semihalf-bielski-maciej)
	push = +force group user/Maciej Bielski (semihalf-bielski-maciej)
	pushMerge = group user/Maciej Bielski (semihalf-bielski-maciej)
	read = group user/Maciej Bielski (semihalf-bielski-maciej)
[access "refs/tags/*"]
	push = group user/Maciej Bielski (semihalf-bielski-maciej)
	push = +force group user/Maciej Bielski (semihalf-bielski-maciej)
